*.geojson filter=lfs diff=lfs merge=lfs -text
[[:space:]]*.geojson filter=lfs diff=lfs merge=lfs -text
public/*.geojson filter=lfs diff=lfs merge=lfs -text
public/geojson/* filter=lfs diff=lfs merge=lfs -text
